In [31]:
import pandas as pd
import numpy as np

In [32]:
# make some random dataframe
df = pd.DataFrame(np.random.randn(6,4),  columns=list('ABCD'))

In [33]:
df

          A         B         C         D
0 -0.180791  0.738511  0.474315 -0.416154
1  0.281996 -1.132794 -0.053226 -0.450650
2  1.423580  0.257770  0.190417  1.875847
3  0.843477 -1.177125  0.734951  0.364604
4  1.154343  0.655630 -1.051814  2.080714
5  0.558481  0.994393  0.161999  0.921861

In [34]:
# now below we'll make another dataframe

In [35]:
normalizer = pd.DataFrame({'divisor':[1,2,3,4,5,6]})

In [36]:
normalizer

   divisor
0        1
1        2
2        3
3        4
4        5
5        6

In [37]:
# silly test of division
df['A'] /1

0   -0.180791
1    0.281996
2    1.423580
3    0.843477
4    1.154343
5    0.558481
Name: A, dtype: float64

In [38]:
# add a new column that is column A of df divided by column divisor of df3
df['new'] = df['A'] / normalizer['divisor']

In [39]:
df

          A         B         C         D       new
0 -0.180791  0.738511  0.474315 -0.416154 -0.180791
1  0.281996 -1.132794 -0.053226 -0.450650  0.140998
2  1.423580  0.257770  0.190417  1.875847  0.474527
3  0.843477 -1.177125  0.734951  0.364604  0.210869
4  1.154343  0.655630 -1.051814  2.080714  0.230869
5  0.558481  0.994393  0.161999  0.921861  0.093080